
.main-content{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ede734;
  }
    
  .announcement {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #000;
    color: #fff;
  
  }
  .announcement__container{
      margin: 0 auto; /* Centra el contenedor horizontalmente */
      padding: 10rem 1rem; /* Añade un poco de padding lateral para evitar que toque los bordes */
      max-width: 800px; /* Ajusta este valor según el diseño */
    }
  
  .announcement h1 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .announcement p {
    font-size: 1.8rem;
    padding: 5rem;
    width: 100%;
    text-align: justify;
  }
  .newsletter{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }
  .newsletter h1 {
    font-size: 2.7rem;
  }
  
  .newsletter button{
    padding: 2rem 3rem;
    font-size: 1.5rem;
    background-color: #000;
    border: none;
    cursor: pointer;
  }
  
  .custom-button {
    display: inline-block;
    padding:  2rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid black;
    position: relative;
    transition: all 0.3s ease;
  }
  
  
  .custom-button:hover {
    color: #a7a3a3; /* Cambia el texto a blanco */
  }
  
  